<!DOCTYPE html>
<html>
<head>
    <title>Agregar Locutor</title>
</head>
<body>
    <h1>Agregar Nuevo Locutor</h1>

    <% if (error) { %>
        <div style="color: red;">
            Error: <%= error %>
        </div>
    <% } %>

    <form action="/locutores/agregarLocutor" method="POST">
        <div>
            <label>Nombre:</label>
            <input type="text" name="nombre" value="<%= locutor.nombre %>" required>
        </div>
        
        <div>
            <label>Biografía:</label>
            <textarea name="biografia"><%= locutor.biografia %></textarea>
        </div>
        
        <div>
            <h3>Redes Sociales</h3>
            <div>
                <label>Instagram:</label>
                <input type="text" name="redSocial.instagram" value="<%= locutor.redSocial.instagram %>">
            </div>
            <div>
                <label>Facebook:</label>
                <input type="text" name="redSocial.facebook" value="<%= locutor.redSocial.facebook %>">
            </div>
        </div>
        
        <div>
            <label>Programas:</label>
            <select name="programas" multiple>
                <% programas.forEach(programa => { %>
                    <option value="<%= programa._id %>" 
                        <%= locutor.programas.some(p => p.equals(programa._id)) ? 'selected' : '' %>>
                        <%= programa.nombre %>
                    </option>
                <% }); %>
            </select>
            <small>Mantén presionado Ctrl para seleccionar múltiples</small>
        </div>
        
        <div>
            <button type="submit">Guardar</button>
            <a href="/locutores">Cancelar</a>
        </div>
    </form>
</body>
</html>